#content * {
	box-sizing: border-box;
}

#new-item input,
#new-item textarea{
	display: block;
	width: 300px;
}

#app-content {
	padding: 15px;
}

.tm_item-row {
	min-height: 80px;
	width: 100%;
	padding: 1px 10px;
}

.tm_item-row:hover {
	background: mintcream;
}

.tm_item-row.odd {
	/* background: lightgrey; */
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.tm_item-excerpt {
	display: flex;
  align-items: center;
  padding-bottom: 5px;
  flex-flow: row wrap;
}

.tm_item-note {
	width: 100%;
	margin-bottom: 5px;
}

.tm_item-date {
	font-weight: 200;
	min-height: 34px;
	display: flex;
	align-items: center;
}

.tm_object-details {
	margin-bottom: 20px;
}

.tm_item-list {
	margin-top: 20px;
	max-width: 600px;
}

.tm_object-details a {
  border-bottom: 1px solid #bbb;
  padding-bottom: 4px;
  transition: border-color .3s ease;
}

.tm_object-details a:hover,
.tm_object-details a:focus {
    border-color: #666;
}

.tm_object-details h2 {
	margin-bottom: 30px;
	display: flex;
}

/* .tm_object-details h2 a {
	margin-left: 10px;
} */

.tm_summary {
	display: flex;
	background: #d1d1d1;
	padding: 10px;
	margin-bottom: 50px;
}

.tm_summary p {
	margin-left: 35px;
}

.tm_summary p:first-child {
	margin-left: 0;
}

.tm_label,
.tm_new-item label {
  text-transform: uppercase;
  letter-spacing: .09em;
  color: #444;
  display: block;
  font-size: 9pt;
}

.tm_object-details-item {
	margin-bottom: 15px;
}

.tm_object-details form {
	display: inline;
	margin-right: 5px;
}

.tm_add {
	padding: 20px 25px 25px;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
}

.tm_add h3 {
	margin-bottom: 20px;
}

.tm_icon-checkmark {
	margin-top: -5px;
  background-color: transparent;
  border: 0;
  padding-bottom: 4px;
}

.tm_icon-checkmark-unpaid {
	opacity: .2;
}

.tm_inline-hover-form {
	display: none;
	margin-left: 5px;
}

.tm_inline-hover-form .btn {
	padding: 3px 6px;
  min-height: initial;
  height: 28px;
  margin-left: 10px;
}

.tm_item-row:hover .tm_inline-hover-form {
	display: block;
}

/* For some reason this is needed to fix the icon position in the nav */
#app-navigation img {
	margin-bottom: -3px;
}