{
	"globals": {
    "$": true,
    "t": true,
    "OC": true,
    "OCA": true,
    "describe": true,
    "it": true,
    "expect": true,
    "cy": true,
    "Cypress": true,
  },
  "extends": [
    "standard",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "dot-notation": "off",
    "camelcase": "off"
  }
}