MYSQL_ROOT_PASSWORD=""
MYSQL_PASSWORD=""
MYSQL_DATABASE="nextcloud"
MYSQL_USER="nextcloud"
MYSQL_HOST="db"
REDIS_HOST="redis"
REDIS_HOST_PASSWORD=""
NEXTCLOUD_ADMIN_USER=""
NEXTCLOUD_ADMIN_PASSWORD=""
NEXTCLOUD_TRUSTED_DOMAINS="localhost,172.19.0.*"